/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
section > *{
    margin: auto;
    width: 1200px;
}

/*///////// HEADER /////////*/

/* HEADER_SECTION_1 */
#header_sec_1{
    padding-top: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_slot{
    padding: 10px;
}

.nav_slot:nth-child(1) {
    width: 25%;
}

.nav_slot:nth-child(2){
    width: 50%;
    text-align: center;
}

.nav_slot:nth-child(3){
    width: 25%;
    text-align: end;
}

/* HEADER_SECTION_2 */
#header_sec_2{
    padding: 30px;
}

#header_sec_2 >div{
    width: 60%;
}

/*///////// MAIN /////////*/
.slots_container{
    display: flex;
}
.main_sec{
    padding-top: 30px;
    padding-bottom: 30px;
}
.big_slot{
    width: 70%;
}

.small_slot{
    width: 30%;
}

/* MAIN_SECTION_1 */
#main_sec_1{
  
}

/* MAIN_SECTION_2 */
#main_sec_2{
   
}

/* MAIN_SECTION_3 */
#main_sec_3{
  
}

/* MAIN_SECTION_4 */
#main_sec_4{
    
}
#unique_slot{
    width: 100%;
}

/*///////// FOOTER /////////*/

/* FOOTER_SECTION_1 */
#footer_sec_1{
    padding-top: 5px;
    padding-bottom: 30px;
    margin-bottom: 1px;
}
.footer_slots_contanier{
    display: flex;
}

.footer_small_slot{
    width: 30%;
}

.footer_big_slot{
    width: 70%;
    display: flex;
}

.footer_big_slot>*{
    width: 25%;
}

#footer_sec_1{
    padding-top: 20px;
}

/* FOOTER_SECTION_2 */
#footer_sec_2{
    padding-top: 15px;
}

.footer_slots_contanier_2{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}






/*////////// DEBUG ///////// */
#header_sec_1{
    background-color: rgba(173,216,230,255);
}
#header_sec_2{
    background-color: navy;
}

nav > .nav_slot{
    border: 2px dashed rgb(165, 122, 42)
}

nav{
    background-color: rgba(218,165,32,255);
}

#header_sec_2 > div{
    background-color: rgba(238,130,238,255);
    height: 300px;
}

#main_sec_2{
    background-color: rgba(211,211,211,255);
}

.big_slot{
   background-color: rgba(30,144,255,255);
   height: 400px ;
}

.small_slot{
   background-color: rgba(255,192,203,255);
   height: 400px;
}

#main_sec_4{
    background-color:rgba(211,211,211,255);
} 

#unique_slot{
    height: 600px;
    background-color: green;
}

footer >*{
    background-color: rgba(35,39,42,255);
}

.footer_small_slot{
    background-color: lightcoral;
    height: 400px;
}

.footer_big_slot{
   background-color: aquamarine;
}

.footer_small_slot{
    border: 1px dashed black;
}

.footer_big_slot{
    border: 1px dashed black;
}
.footer_big_slot>*{
    border: 1px dashed white;
}

.footer_slots_contanier_2{
    background-color: rgba(127,255,212,255);
    
}

.footer_slot{
    background-color: rgba(255,182,193,255);
    padding: 5px;
}


/*  */